.contactsBlock {
    background-color: cadetblue;
    padding: 50px 0;
}

.contactsContainer {
    flex-direction: column;;
    justify-content: space-evenly;
    padding: 25px;
}

.title {
    background-color: darkgrey;
}

.form {
    border: 1px solid;
    min-width: 50%;
    min-height: 55%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    align-items: center;
    padding: 10px;
}

.fieldsetWrapper {
    display: flex;
    flex-direction: column;
    border: none;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

.fieldsetWrapper input, .fieldsetWrapper textarea {
    width: 100%;
    padding: 5px;
    margin-top: 2px;
}

.send {
    padding: 10px 30px;
    background-color: darkgray;
}