.project {
    width: 250px;
    background-color: darkkhaki;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 7px;
}

.icon {
    margin-top: 10px;
    height: 60px;
    width: 60px;
}

.icon_logo {
    height: 60px;
    width: 60px;
}

.watchLink {
    padding: 5px;
    min-width: 60px;
    margin: 10px 0;
    background-color: #CFEAFF;
}

.watchLink a {
    text-decoration: none;
}

.title {
    margin: 0;
}

.description {
    padding: 5px;
}