.skill {
    width: 250px;
    background-color: darkkhaki;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 7px;
}

.icon {
    margin-top: 10px;
    height: 60px;
    width: 60px;
}

.icon_logo {
    height: 60px;
    width: 60px;
}

.description {
    padding: 5px;
}