.mainBlock {
    min-height: 100vh;
    background-color: #ffdee9;
    display: flex;
    align-items: center;
}

.text {
    background-color: darkgrey;
    margin: 10px;
    text-align: center;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: darkgrey;
    margin: 10px;
}

