.mainBlock {
    min-height: 70vh;
    background-color: #ffdee9;
    padding: 50px 0;
}

.text {
    background-color: darkgrey;
    margin: 10px;
    text-align: center;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: darkgrey;
    margin: 10px;
}

